body {
    display: flex;
    flex-direction: column;
}

.wrapper {
    width: 500px;
    background: #F7F7F7;
    padding: 0 30px 10px 30px;
    align-self: center;
}

.heading__title {
    text-align: center;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 200;
    font-size: 100px;
    line-height: 21px;
    color: #CCCCCC;
}

.content {
    padding: 0 0 0 0;
    margin: 0 0 5px 0;
    background-color: white;
    border: solid 1px #F0F0F0;
}

.content__new-task {
    display: flex;
    align-items: stretch;
    justify-content: center;
    border-bottom: solid 1px lightgrey;
}

.content__new-task__check-all {
    width: 50px;
    height: 50px;
    font-size: 0;
    padding: 0;
    margin: 0 0 0 2px;
    background-color: transparent;
    border: transparent;
}

.check-all-tick {
    width: 50px;
    height: 50px;
    fill: none;
    stroke: gray;
    stroke-width: 3;
}


.content__new-task__check-all:hover .check-all-tick {
    stroke: green;
}

.content__new-task__check-all:active {
    background-color: #F0F0F0;
}

.newtask {
    flex: 1;
    border: none;
    outline: none;
    color: #505050;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 25px;
    padding: 5px;
}

.newtask::placeholder {
    color: #AFAFAF;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size: 25px;
}

.content__tasks {
    list-style-type: none;
    margin: 0 0 50px 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    font-weight: 300;
}

.content__tasks__task {
    display: flex;
    align-items: center;
    border-bottom: solid 1px lightgrey;
    padding: 3px;
}

.content__tasks__task:hover {
    background-color: #F0F0F0;
}

.checkbox-svg {
    margin: 0 3px 0 0;
    width: 50px;
    height: 50px;
    stroke: lightgrey;
    fill: none;
}

.checked-tick {
    stroke: none;
    stroke-width: 2px;
}

.content__tasks__task-check:checked+.content__tasks__task-content .checkbox-svg .checked-tick,
.content__tasks__task-check:checked+.content__tasks__task-content .checkbox-svg {
    stroke: green;
}

.content__tasks__task-content {
    display: flex;
    align-items: center;
}

.content__tasks__task-check {
    width: 50px;
    height: 50px;
    position: absolute;
    left: -1000px;
}

.content__tasks__task-text {
    flex: 1;
    fill: none;
    color: #505050;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 22px;
}

.content__tasks__task-check:checked~.content__tasks__task-text {
    color: grey;
    text-decoration: line-through;
}

.content__tasks__task-delete {
    width: 50px;
    height: 50px;
    background-color: transparent;
    padding: 0;
    border: none;
    font-size: 0;
}

.cross {
    width: 50px;
    height: 50px;
    stroke-width: 2px;
    stroke: none;
}

.content__tasks__task-delete:hover .cross {
    stroke: black;
}

.content__tasks__task:hover .content__tasks__task-delete .cross {
    stroke: lightgrey;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
}

.filter-buttons__text {
    padding: 0 5px 0 5px;
    background-color: transparent;
    border: solid 1px transparent;
    color: grey;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.nav-menu__items-left {
    padding: 3px;
    color: grey;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.nav-menu__filter-buttons {
    padding: 2px;
}

.nav-menu__filter-button {
    border: solid 1px transparent;
    padding: 0 2px 0 2px;
}

.filter-buttons__radio {
    display: none;
}

.filter-buttons__radio:checked+.filter-buttons__text {
    color: #4F4F4F;
    border: solid 1px #AFAFAF;
    border-radius: 4px;
}

.nav-menu__clear-completed {
    background-color: transparent;
    border: solid 1px transparent;
    border-radius: 10px;
    color: grey;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.nav-menu__clear-completed:hover {
    color: #2F2F2F;
    border: solid 1px #C0C0C0;
}
